#### 1- Kütüphanelerin Yüklenmesi

In [4]:
import numpy as np ## numpy kütüphanesinin import edilmesi
import pandas as pd ## pandas kütüphanesinin import edilmesi
import seaborn as sns ## seaborn kütüphanesinin import edilmesi
import matplotlib.pyplot as plt ## matplotlip kütüphanesinin import edilmesi
import datetime as dt ## datetime kütüphanesinin import edilmesi
pd.pandas.set_option('display.max_columns', None) ## dataframein tüm sutunlarının görülmesi için gereken kod

### 2- Verisetinin Yüklenmesi

In [3]:
from google.colab import drive
drive.mount('/content/drive')   # sen lokaldeysen gerek yok

ModuleNotFoundError: No module named 'google'

In [5]:
### Veri Çok fazla olduğundan biraz zaman alabilir.
data = pd.read_excel("MarketSales.xlsx")

In [6]:
data.head()

,ID,ITEMCODE,ITEMNAME,FICHENO,DATE_,AMOUNT,PRICE,LINENETTOTAL,LINENET,BRANCHNR,BRANCH,SALESMAN,CITY,REGION,LATITUDE,LONGITUDE,CLIENTCODE,CLIENTNAME,BRANDCODE,BRAND,CATEGORY_NAME1,CATEGORY_NAME2,CATEGORY_NAME3,STARTDATE,ENDDATE,GENDER
0,11738.0,5863.0,SPRITE 1 LT LIMON AROMALI GAZOZ,18456,2017-01-07,1.0,2.00,2.00,1.85,52.0,Kocaeli Subesi,Eyüp CİNE,Kocaeli,Marmara,40.8533,29.8815,467369,Sercan KIZILOK,156,SPRİTE,İÇECEK,GAZLI İÇECEK,GAZOZ,2017-01-08 16:16:11,2017-01-08 16:17:13,E
1,10537.0,8.0,TOZ SEKER,18105,2017-01-06,5.0,2.65,13.25,12.27,8.0,Antalya Subesi,İlhan ÖRENLİ,Antalya,Akdeniz,36.8841,30.7056,131464,İsmet ŞINGIR,NaN,NaN,İÇECEK,ÇAY KAHVE,SEKER TATLANDIRICI,2017-01-07 11:04:34,2017-01-07 11:05:37,E
2,11335.0,5979.0,FALIM SAKIZ 5LI NANE,18350,2017-01-03,1.0,0.40,0.40,0.37,40.0,İstanbul Subesi,İsmet SARTIK,İstanbul,Marmara,41.0053,28.9770,656969,Yağız KUBAL,300,FALIM,GIDA,SAKIZ SEKERLEME,SAKIZ,2017-01-04 14:00:03,2017-01-04 14:01:01,E
3,11336.0,5979.0,FALIM SAKIZ 5LI NANE,18350,2017-01-03,1.0,0.40,0.40,0.37,40.0,İstanbul Subesi,İsmet SARTIK,İstanbul,Marmara,41.0053,28.9770,656969,Yağız KUBAL,300,FALIM,GIDA,SAKIZ SEKERLEME,SAKIZ,2017-01-04 14:00:03,2017-01-04 14:01:01,E
4,10115.0,12808.0,FALIM SAKIZ 5LI CILEK,18005,2017-01-05,1.0,0.40,0.40,0.37,41.0,İzmir Subesi,Gülten IŞLAK,İzmir,Ege,38.4189,27.1287,447336,Habibe AYSAN,300,FALIM,GIDA,SAKIZ SEKERLEME,SAKIZ,2017-01-06 14:00:30,2017-01-06 14:01:03,K

In [7]:
data.head(2)

,ID,ITEMCODE,ITEMNAME,FICHENO,DATE_,AMOUNT,PRICE,LINENETTOTAL,LINENET,BRANCHNR,BRANCH,SALESMAN,CITY,REGION,LATITUDE,LONGITUDE,CLIENTCODE,CLIENTNAME,BRANDCODE,BRAND,CATEGORY_NAME1,CATEGORY_NAME2,CATEGORY_NAME3,STARTDATE,ENDDATE,GENDER
0,11738.0,5863.0,SPRITE 1 LT LIMON AROMALI GAZOZ,18456,2017-01-07,1.0,2.00,2.00,1.85,52.0,Kocaeli Subesi,Eyüp CİNE,Kocaeli,Marmara,40.8533,29.8815,467369,Sercan KIZILOK,156,SPRİTE,İÇECEK,GAZLI İÇECEK,GAZOZ,2017-01-08 16:16:11,2017-01-08 16:17:13,E
1,10537.0,8.0,TOZ SEKER,18105,2017-01-06,5.0,2.65,13.25,12.27,8.0,Antalya Subesi,İlhan ÖRENLİ,Antalya,Akdeniz,36.8841,30.7056,131464,İsmet ŞINGIR,NaN,NaN,İÇECEK,ÇAY KAHVE,SEKER TATLANDIRICI,2017-01-07 11:04:34,2017-01-07 11:05:37,E

### 3- Verisetinin Orjinalınde değişiklik gelmemesei için veriyi başka bir değişkene atayın

In [8]:
data_copy = data.copy()

### 4-Verisetinin Boyutlarına bulunuz

In [9]:
data_copy.shape

(611108, 26)

### 5-Verisetinin Sutunlarının İsimlerini Yazdırın

In [10]:
data_copy.columns

Index(['ID', 'ITEMCODE', 'ITEMNAME', 'FICHENO', 'DATE_', 'AMOUNT', 'PRICE',
       'LINENETTOTAL', 'LINENET', 'BRANCHNR', 'BRANCH', 'SALESMAN', 'CITY',
       'REGION', 'LATITUDE', 'LONGITUDE', 'CLIENTCODE', 'CLIENTNAME',
       'BRANDCODE', 'BRAND', 'CATEGORY_NAME1', 'CATEGORY_NAME2',
       'CATEGORY_NAME3', 'STARTDATE', 'ENDDATE', 'GENDER'],
      dtype='object')

### 6- Veri setinin bilgilerine ulaşılması

In [11]:
data_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 611108 entries, 0 to 611107
Data columns (total 26 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   ID              611107 non-null  float64
 1   ITEMCODE        603941 non-null  float64
 2   ITEMNAME        603941 non-null  object
 3   FICHENO         611108 non-null  int64
 4   DATE_           611107 non-null  datetime64[ns]
 5   AMOUNT          611107 non-null  float64
 6   PRICE           611107 non-null  float64
 7   LINENETTOTAL    611107 non-null  float64
 8   LINENET         611107 non-null  float64
 9   BRANCHNR        611107 non-null  float64
 10  BRANCH          611107 non-null  object
 11  SALESMAN        611108 non-null  object
 12  CITY            611107 non-null  object
 13  REGION          611107 non-null  object
 14  LATITUDE        611107 non-null  float64
 15  LONGITUDE       611107 non-null  float64
 16  CLIENTCODE      592760 non-null  object
 17  CLIENTNAME      592743 non-null  object
 18  BRANDCODE       575551 non-null  object
 19  BRAND           575551 non-null  object
 20  CATEGORY_NAME1  603941 non-null  object
 21  CATEGORY_NAME2  583448 non-null  object
 22  CATEGORY_NAME3  401649 non-null  object
 23  STARTDATE       611108 non-null  datetime64[ns]
 24  ENDDATE         611108 non-null  datetime64[ns]
 25  GENDER          592743 non-null  object
dtypes: datetime64[ns](3), float64(9), int64(1), object(13)
memory usage: 121.2+ MB

### 7- Veri Setinde Boş Değer Varmı sorgulanması

In [12]:
data_copy.isnull().sum()

ID                     1
ITEMCODE            7167
ITEMNAME            7167
FICHENO                0
DATE_                  1
AMOUNT                 1
PRICE                  1
LINENETTOTAL           1
LINENET                1
BRANCHNR               1
BRANCH                 1
SALESMAN               0
CITY                   1
REGION                 1
LATITUDE               1
LONGITUDE              1
CLIENTCODE         18348
CLIENTNAME         18365
BRANDCODE          35557
BRAND              35557
CATEGORY_NAME1      7167
CATEGORY_NAME2     27660
CATEGORY_NAME3    209459
STARTDATE              0
ENDDATE                0
GENDER             18365
dtype: int64

### 8- Verisetindeki Sutunlarda Toplam Kaç Adet Değer Var Bulunuz

In [13]:
data_copy.count()

ID                611107
ITEMCODE          603941
ITEMNAME          603941
FICHENO           611108
DATE_             611107
AMOUNT            611107
PRICE             611107
LINENETTOTAL      611107
LINENET           611107
BRANCHNR          611107
BRANCH            611107
SALESMAN          611108
CITY              611107
REGION            611107
LATITUDE          611107
LONGITUDE         611107
CLIENTCODE        592760
CLIENTNAME        592743
BRANDCODE         575551
BRAND             575551
CATEGORY_NAME1    603941
CATEGORY_NAME2    583448
CATEGORY_NAME3    401649
STARTDATE         611108
ENDDATE           611108
GENDER            592743
dtype: int64

### 9- Verisetinde Toplam Kaç Adet Değer Var Bulunuz

In [14]:
data_copy.size

15888808

### 10- Verisetinde Boş Değer Olan Sutunların İsimlerini yazdıralım

In [15]:
data_copy.columns[data_copy.isnull().any()].tolist()

['ID',
 'ITEMCODE',
 'ITEMNAME',
 'DATE_',
 'AMOUNT',
 'PRICE',
 'LINENETTOTAL',
 'LINENET',
 'BRANCHNR',
 'BRANCH',
 'CITY',
 'REGION',
 'LATITUDE',
 'LONGITUDE',
 'CLIENTCODE',
 'CLIENTNAME',
 'BRANDCODE',
 'BRAND',
 'CATEGORY_NAME1',
 'CATEGORY_NAME2',
 'CATEGORY_NAME3',
 'GENDER']

### 11-Verisetinin Sutunlarında Kaç farklı Tip var Onu Bulalım

In [16]:
data_copy.dtypes.value_counts()

object            13
float64            9
datetime64[ns]     3
int64              1
Name: count, dtype: int64

### 12- Verisetinin Sutunlarındaki Eşsiz Tipler Nelerdir Onlara Bakalım

In [17]:
data_copy.dtypes.unique()

array([dtype('float64'), dtype('O'), dtype('int64'), dtype('<M8[ns]')],
      dtype=object)

### 13-Verisetinin İlk 5 Satırını Yazdıralım

In [18]:
data_copy.head(5)

,ID,ITEMCODE,ITEMNAME,FICHENO,DATE_,AMOUNT,PRICE,LINENETTOTAL,LINENET,BRANCHNR,BRANCH,SALESMAN,CITY,REGION,LATITUDE,LONGITUDE,CLIENTCODE,CLIENTNAME,BRANDCODE,BRAND,CATEGORY_NAME1,CATEGORY_NAME2,CATEGORY_NAME3,STARTDATE,ENDDATE,GENDER
0,11738.0,5863.0,SPRITE 1 LT LIMON AROMALI GAZOZ,18456,2017-01-07,1.0,2.00,2.00,1.85,52.0,Kocaeli Subesi,Eyüp CİNE,Kocaeli,Marmara,40.8533,29.8815,467369,Sercan KIZILOK,156,SPRİTE,İÇECEK,GAZLI İÇECEK,GAZOZ,2017-01-08 16:16:11,2017-01-08 16:17:13,E
1,10537.0,8.0,TOZ SEKER,18105,2017-01-06,5.0,2.65,13.25,12.27,8.0,Antalya Subesi,İlhan ÖRENLİ,Antalya,Akdeniz,36.8841,30.7056,131464,İsmet ŞINGIR,NaN,NaN,İÇECEK,ÇAY KAHVE,SEKER TATLANDIRICI,2017-01-07 11:04:34,2017-01-07 11:05:37,E
2,11335.0,5979.0,FALIM SAKIZ 5LI NANE,18350,2017-01-03,1.0,0.40,0.40,0.37,40.0,İstanbul Subesi,İsmet SARTIK,İstanbul,Marmara,41.0053,28.9770,656969,Yağız KUBAL,300,FALIM,GIDA,SAKIZ SEKERLEME,SAKIZ,2017-01-04 14:00:03,2017-01-04 14:01:01,E
3,11336.0,5979.0,FALIM SAKIZ 5LI NANE,18350,2017-01-03,1.0,0.40,0.40,0.37,40.0,İstanbul Subesi,İsmet SARTIK,İstanbul,Marmara,41.0053,28.9770,656969,Yağız KUBAL,300,FALIM,GIDA,SAKIZ SEKERLEME,SAKIZ,2017-01-04 14:00:03,2017-01-04 14:01:01,E
4,10115.0,12808.0,FALIM SAKIZ 5LI CILEK,18005,2017-01-05,1.0,0.40,0.40,0.37,41.0,İzmir Subesi,Gülten IŞLAK,İzmir,Ege,38.4189,27.1287,447336,Habibe AYSAN,300,FALIM,GIDA,SAKIZ SEKERLEME,SAKIZ,2017-01-06 14:00:30,2017-01-06 14:01:03,K

### 14-Verisetinin son 7 Satırını Yazdıralım

In [19]:
data_copy.tail(7)

,ID,ITEMCODE,ITEMNAME,FICHENO,DATE_,AMOUNT,PRICE,LINENETTOTAL,LINENET,BRANCHNR,BRANCH,SALESMAN,CITY,REGION,LATITUDE,LONGITUDE,CLIENTCODE,CLIENTNAME,BRANDCODE,BRAND,CATEGORY_NAME1,CATEGORY_NAME2,CATEGORY_NAME3,STARTDATE,ENDDATE,GENDER
611101,511342.0,6480.0,UNO KEPEKLI EKMEK 470GR.,134601,2017-03-18,1.0,3.25,3.25,3.22,73.0,Tekirdağ Subesi,Aleyna ÇUKUREL,Tekirdağ,Marmara,40.9833,27.5167,16670,Berat ÖGMEN,145,UNO,GIDA,UNLU MAMÜLLER,EKMEK,2017-03-19 18:54:51,2017-03-19 18:54:58,E
611102,512198.0,7.0,EKMEK 250 GR,134742,2017-03-18,1.0,0.90,0.90,0.89,40.0,İstanbul Subesi,İsmet SARTIK,İstanbul,Marmara,41.0053,28.9770,523722,Özcan PAPİR,NaN,NaN,GIDA,UNLU MAMÜLLER,EKMEK,2017-03-19 16:09:39,2017-03-19 16:11:10,E
611103,511703.0,7.0,EKMEK 250 GR,134656,2017-03-18,1.0,0.90,0.90,0.89,66.0,Sakarya Subesi,Beren BULGURCU,Sakarya,Marmara,40.6940,30.4358,374191,Mahmut BAYATGİL,NaN,NaN,GIDA,UNLU MAMÜLLER,EKMEK,2017-03-19 09:39:54,2017-03-19 09:40:50,E
611104,511496.0,7.0,EKMEK 250 GR,134630,2017-03-18,1.0,0.90,0.90,0.89,7.0,Ankara Subesi,Eda SINAV,Ankara,İç Anadolu,39.9208,32.8541,656248,Gamze BOTUÇ,NaN,NaN,GIDA,UNLU MAMÜLLER,EKMEK,2017-03-19 20:30:58,2017-03-19 20:31:17,K
611105,492612.0,7.0,EKMEK 250 GR,130100,2017-03-15,1.0,0.90,0.90,0.89,59.0,Muğla Subesi,Nisa nur SAĞIM,Muğla,Ege,37.2153,28.3636,78643,Cengiz BEREKETÇİ,NaN,NaN,GIDA,UNLU MAMÜLLER,EKMEK,2017-03-16 17:51:04,2017-03-16 17:51:18,E
611106,512343.0,7.0,EKMEK 250 GR,134762,2017-03-18,1.0,0.90,0.90,0.88,40.0,İstanbul Subesi,Arife DORAP,İstanbul,Marmara,41.0053,28.9770,926041,Elifnur EGİNKAYA,NaN,NaN,GIDA,UNLU MAMÜLLER,EKMEK,2017-03-19 17:00:12,2017-03-19 17:01:20,K
611107,512179.0,3942.0,ETI 80 GR KARAM BITTER,134738,2017-03-18,1.0,1.90,1.90,1.76,74.0,Tokat Subesi,Lütfiye DÖŞEME,Tokat,Karadeniz,40.3167,36.5500,241748,Hacer CANDEMİR,44,ETİ,GIDA,BÜSKİVİ ÇEREZ,BÜSKİVİ,2017-03-19 16:00:15,2017-03-19 16:00:37,K

### 15- Verisetinde her satır için AMOUNT PRICE LINENETTOTAL sutunlarına ait bilgileri yazdıralım

In [20]:
data_copy[['AMOUNT','PRICE','LINENETTOTAL']]

        AMOUNT  PRICE  LINENETTOTAL
0          1.0   2.00          2.00
1          5.0   2.65         13.25
2          1.0   0.40          0.40
3          1.0   0.40          0.40
4          1.0   0.40          0.40
...        ...    ...           ...
611103     1.0   0.90          0.90
611104     1.0   0.90          0.90
611105     1.0   0.90          0.90
611106     1.0   0.90          0.90
611107     1.0   1.90          1.90

[611108 rows x 3 columns]

### 16- Verisetinde LINENETTOTAL sutunda 15 den büyük olan satırları yazdıralım

In [21]:
data_copy[data_copy['LINENETTOTAL'] > 15]

,ID,ITEMCODE,ITEMNAME,FICHENO,DATE_,AMOUNT,PRICE,LINENETTOTAL,LINENET,BRANCHNR,BRANCH,SALESMAN,CITY,REGION,LATITUDE,LONGITUDE,CLIENTCODE,CLIENTNAME,BRANDCODE,BRAND,CATEGORY_NAME1,CATEGORY_NAME2,CATEGORY_NAME3,STARTDATE,ENDDATE,GENDER
62,9745.0,10429.0,YUDUM AYCICEK YAGI 5 LT TNK,17902,2017-01-06,1.000,20.49,20.49,18.97,12.0,Balıkesir Subesi,Sami KASIMOVA,Balıkesir,Ege,39.6484,27.8826,521495,Bilal PORSUK,152,YUDUM,GIDA,SIVI YAĞLAR,AYÇİÇEK,2017-01-07 14:28:00,2017-01-07 14:29:39,E
64,3322.0,19108.0,F NEFFIS AYCICEK YAGI 5 LT PET,16540,2017-01-05,1.000,17.90,17.90,16.57,39.0,Isparta Subesi,Elif nur GÜNLER,Isparta,Akdeniz,37.7648,30.5566,791614,Tayfun BATAK,49,F NEFFİS,GIDA,SIVI YAĞLAR,AYÇİÇEK,2017-01-06 20:08:26,2017-01-06 20:08:39,E
95,5317.0,6217.0,LD LODOS DENİZCİSİ SLİMS,16903,2017-01-05,10.000,5.00,50.00,50.00,70.0,Sivas Subesi,Hümeyra GEÇİCİ),Sivas,İç Anadolu,39.7477,37.0179,1021217,Kezban GÖŞELİ,163,JTİ,SİGARA,NaN,NaN,2017-01-06 13:44:22,2017-01-06 13:44:45,K
239,7783.0,5571.0,WELLA KOLESTON KOPUK BOYA 5/0 ACIK KAHVE,17473,2017-01-06,1.000,15.75,15.75,13.35,56.0,Manisa Subesi,Veli ÇAHAN,Manisa,Ege,38.6191,27.4289,285961,Görkem ZIESCHANG,307,WELLA,KOZMETİK,SAÇ BAKIM,SAÇ BOYALARI,2017-01-07 14:52:34,2017-01-07 14:53:16,E
250,7611.0,3187.0,F NEFFIS TAZE KASAR PEYNIRI 1000 GR,17450,2017-01-06,1.000,15.75,15.75,14.58,67.0,Samsun Subesi,Necdet VARAL,Samsun,Karadeniz,41.2928,36.3313,241750,Hazal ÖZBAKIŞ,49,F NEFFİS,SÜT KAHVALTILIK,PEYNİR,KAŞAR PEYNİRİ,2017-01-07 20:00:19,2017-01-07 20:04:26,K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
610879,597076.0,10663.0,FAIRY H 1 ARADA BUL.MAKINESI 70'LI. LIMON,154695,2017-03-30,1.000,27.50,27.50,23.31,52.0,Kocaeli Subesi,Halil KIRMIZIGÜN,Kocaeli,Marmara,40.8533,29.8815,712152,Hikmet YEREN,298,FAİRY,DETERJAN TEMİZLİK,BULAŞIK YIKAMA,MAKİNE,2017-03-31 12:24:13,2017-03-31 12:24:54,E
611060,596973.0,21588.0,DANA GULAS,154689,2017-03-30,0.996,23.90,23.80,22.04,11.0,Aydın Subesi,Selçuk TEZEL,Aydın,Ege,37.8560,27.8416,27039,Mevlüt AYDINLIK,235,KASAP,ET TAVUK,KIRMIZI ET,DANA,2017-03-31 10:18:03,2017-03-31 10:18:39,E
611061,596365.0,21591.0,DANA ANTRIKOT,154529,2017-03-30,0.660,27.90,18.41,17.05,7.0,Ankara Subesi,Meliha AKTEKE,Ankara,İç Anadolu,39.9208,32.8541,350244,Reyhan ÇELİKSOY,235,KASAP,ET TAVUK,KIRMIZI ET,DANA,2017-03-31 18:27:07,2017-03-31 18:27:56,K
611065,597287.0,968.0,ICIM DOGAL YOGURT 2250GR,154731,2017-03-30,6.000,7.25,43.50,40.28,41.0,İzmir Subesi,Gülten IŞLAK,İzmir,Ege,38.4189,27.1287,946400,Dursun GEYLAN,67,İÇİM SEHER,SÜT KAHVALTILIK,YOĞURT,YOĞURTLAR,2017-03-31 15:18:26,2017-03-31 15:28:25,E
611068,596374.0,21584.0,DANA KIYMALIK KG.,154531,2017-03-30,1.042,19.90,20.74,19.21,42.0,Kahramanmaraş Subesi,Duygu TEKİNSİZ,Kahramanmaraş,Akdeniz,37.5858,36.9371,1098716,Deniz GÖKMENLER,235,KASAP,ET TAVUK,KIRMIZI ET,DANA,2017-03-31 18:36:26,2017-03-31 18:36:54,E

### 17- Verisetinde BRANCH ı Balıkesir Subesi olan satırları bulalım

In [24]:
data_copy[data_copy['BRANCH'] == 'Balıkesir Subesi']

,ID,ITEMCODE,ITEMNAME,FICHENO,DATE_,AMOUNT,PRICE,LINENETTOTAL,LINENET,BRANCHNR,BRANCH,SALESMAN,CITY,REGION,LATITUDE,LONGITUDE,CLIENTCODE,CLIENTNAME,BRANDCODE,BRAND,CATEGORY_NAME1,CATEGORY_NAME2,CATEGORY_NAME3,STARTDATE,ENDDATE,GENDER
15,9625.0,5780.0,SALKIM DOMATES,17865,2017-01-06,0.945,5.20,4.91,4.55,12.0,Balıkesir Subesi,Sami KASIMOVA,Balıkesir,Ege,39.6484,27.8826,74884,Miray KOÇOĞLU,A25,HAL,MEYVE SEBZE,SEBZE,NaN,2017-01-07 11:12:54,2017-01-07 11:13:35,K
16,9748.0,5715.0,PATATES,17902,2017-01-06,2.790,2.45,6.84,6.33,12.0,Balıkesir Subesi,Sami KASIMOVA,Balıkesir,Ege,39.6484,27.8826,521495,Bilal PORSUK,A25,HAL,MEYVE SEBZE,SEBZE,NaN,2017-01-07 14:28:00,2017-01-07 14:29:39,E
62,9745.0,10429.0,YUDUM AYCICEK YAGI 5 LT TNK,17902,2017-01-06,1.000,20.49,20.49,18.97,12.0,Balıkesir Subesi,Sami KASIMOVA,Balıkesir,Ege,39.6484,27.8826,521495,Bilal PORSUK,152,YUDUM,GIDA,SIVI YAĞLAR,AYÇİÇEK,2017-01-07 14:28:00,2017-01-07 14:29:39,E
124,9907.0,5710.0,KIRMIZI BIBER,17945,2017-01-06,0.750,4.95,3.71,3.44,12.0,Balıkesir Subesi,Neriman BEYAZ,Balıkesir,Ege,39.6484,27.8826,NaN,NaN,A25,HAL,MEYVE SEBZE,SEBZE,NaN,2017-01-07 17:24:07,2017-01-07 17:24:25,NaN
165,3534.0,23477.0,NOGAY ÖZEL ÜRÜN YAGLI SELE ZEYTINI LUX,16607,2017-01-05,0.540,9.95,5.37,4.98,12.0,Balıkesir Subesi,Sami KASIMOVA,Balıkesir,Ege,39.6484,27.8826,654286,Pınar ECİR,99,NOGAY,SÜT KAHVALTILIK,ZEYTİN,NaN,2017-01-06 09:40:58,2017-01-06 09:42:01,K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
610941,604581.0,132.0,GOZDE KOKTELY SOSIS 500 GR,156739,2017-03-31,1.000,5.50,5.50,5.09,12.0,Balıkesir Subesi,Neriman BEYAZ,Balıkesir,Ege,39.6484,27.8826,1589,Sevda MEVSİM,NaN,NaN,ET TAVUK,ET ŞARKÜTERİ,SOSİS,2017-04-01 16:24:46,2017-04-01 16:25:31,K
610942,604582.0,132.0,GOZDE KOKTELY SOSIS 500 GR,156739,2017-03-31,1.000,5.50,5.50,5.09,12.0,Balıkesir Subesi,Neriman BEYAZ,Balıkesir,Ege,39.6484,27.8826,1589,Sevda MEVSİM,NaN,NaN,ET TAVUK,ET ŞARKÜTERİ,SOSİS,2017-04-01 16:24:46,2017-04-01 16:25:31,K
611049,604585.0,5694.0,DOMATES,156739,2017-03-31,1.040,2.65,2.76,2.56,12.0,Balıkesir Subesi,Neriman BEYAZ,Balıkesir,Ege,39.6484,27.8826,1589,Sevda MEVSİM,A25,HAL,MEYVE SEBZE,SEBZE,NaN,2017-04-01 16:24:46,2017-04-01 16:25:31,K
611085,511252.0,195.0,ULKER PIKNIK KAKAOLU 3*70 GR,134582,2017-03-18,1.000,1.50,1.50,1.39,12.0,Balıkesir Subesi,Sıraç MEHMET,Balıkesir,Ege,39.6484,27.8826,872827,Zekiye ERDAMAR,146,ÜLKER,GIDA,BÜSKİVİ ÇEREZ,BÜSKİVİ,2017-03-19 17:51:42,2017-03-19 17:52:13,K
611093,511278.0,18219.0,SULTAN KEP.BUGDAY EKMEGI,134590,2017-03-18,1.000,1.00,1.00,0.99,12.0,Balıkesir Subesi,Sami KASIMOVA,Balıkesir,Ege,39.6484,27.8826,628800,Hacer YOLCUOĞLU,134,SULTAN,GIDA,UNLU MAMÜLLER,EKMEK,2017-03-19 18:09:02,2017-03-19 18:09:23,K

# KENDİ EKLEDİKLERİM

18. BRANCH = BALIKKESİR OLANLARIN ID ITEMNAME BRANCH VE CITY HALİ

In [23]:
data_copy[data_copy['BRANCH'] == 'Balıkesir Subesi'][['ID','ITEMNAME','BRANCH','CITY']]

,ID,ITEMNAME,BRANCH,CITY
15,9625.0,SALKIM DOMATES,Balıkesir Subesi,Balıkesir
16,9748.0,PATATES,Balıkesir Subesi,Balıkesir
62,9745.0,YUDUM AYCICEK YAGI 5 LT TNK,Balıkesir Subesi,Balıkesir
124,9907.0,KIRMIZI BIBER,Balıkesir Subesi,Balıkesir
165,3534.0,NOGAY ÖZEL ÜRÜN YAGLI SELE ZEYTINI LUX,Balıkesir Subesi,Balıkesir
...,...,...,...,...
610941,604581.0,GOZDE KOKTELY SOSIS 500 GR,Balıkesir Subesi,Balıkesir
610942,604582.0,GOZDE KOKTELY SOSIS 500 GR,Balıkesir Subesi,Balıkesir
611049,604585.0,DOMATES,Balıkesir Subesi,Balıkesir
611085,511252.0,ULKER PIKNIK KAKAOLU 3*70 GR,Balıkesir Subesi,Balıkesir
611093,511278.0,SULTAN KEP.BUGDAY EKMEGI,Balıkesir Subesi,Balıkesir

19. GENDER'ı K olan ve PRICE'ı 5'ten büyük olanları bul (çoklu koşul)

In [27]:
data_copy[(data_copy['GENDER'] == 'K') & (data_copy['PRICE'] > 5)][['ID','ITEMNAME','BRANCH','CITY','GENDER','PRICE']]

,ID,ITEMNAME,BRANCH,CITY,GENDER,PRICE
6,11845.0,F NEFFIS TOZ SEKER 2 KG,Malatya Subesi,Malatya,K,5.60
15,9625.0,SALKIM DOMATES,Balıkesir Subesi,Balıkesir,K,5.20
21,5137.0,SALKIM DOMATES,Osmaniye Subesi,Osmaniye,K,5.20
27,4165.0,SARIMSAK,İzmir Subesi,İzmir,K,11.00
55,9883.0,WINSTON KISA,Ankara Subesi,Ankara,K,7.50
...,...,...,...,...,...,...
611073,596434.0,MUZ,Kırklareli Subesi,Kırklareli,K,5.90
611081,583409.0,LIPTON EARL GREY TEA 100 AD BARDAK,Muğla Subesi,Muğla,K,14.50
611082,583155.0,CAYKUR TIRYAKI CAY 500 GR,Ankara Subesi,Ankara,K,7.25
611095,511721.0,KARAAGAC PEKMEZ 1000 GR,Kocaeli Subesi,Kocaeli,K,7.75
611096,511722.0,KARAAGAC TAHIN 500GR,Kocaeli Subesi,Kocaeli,K,6.50

20. REGION'ı Marmara VEYA Ege olan satırları bul

In [28]:
data_copy[data_copy['REGION'].isin(['Marmara','Ege'])][['ID','ITEMNAME','BRANCH','REGION']]

              ID                         ITEMNAME           BRANCH   REGION
0        11738.0  SPRITE 1 LT LIMON AROMALI GAZOZ   Kocaeli Subesi  Marmara
2        11335.0             FALIM SAKIZ 5LI NANE  İstanbul Subesi  Marmara
3        11336.0             FALIM SAKIZ 5LI NANE  İstanbul Subesi  Marmara
4        10115.0            FALIM SAKIZ 5LI CILEK     İzmir Subesi      Ege
7        11348.0                        TOZ SEKER  İstanbul Subesi  Marmara
...          ...                              ...              ...      ...
611101  511342.0         UNO KEPEKLI EKMEK 470GR.  Tekirdağ Subesi  Marmara
611102  512198.0                     EKMEK 250 GR  İstanbul Subesi  Marmara
611103  511703.0                     EKMEK 250 GR   Sakarya Subesi  Marmara
611105  492612.0                     EKMEK 250 GR     Muğla Subesi      Ege
611106  512343.0                     EKMEK 250 GR  İstanbul Subesi  Marmara

[262832 rows x 4 columns]

21. ITEMNAME içinde 'SAKIZ' geçenleri bul

In [32]:
data_copy[data_copy['ITEMNAME'].str.contains('SAKIZ',na=False)][['ID','ITEMNAME']]

              ID                         ITEMNAME
2        11335.0             FALIM SAKIZ 5LI NANE
3        11336.0             FALIM SAKIZ 5LI NANE
4        10115.0            FALIM SAKIZ 5LI CILEK
258       8335.0        FIRST DAMLA SAKIZLI 22 GR
268       8506.0            FALIM SAKIZ 5LI CILEK
...          ...                              ...
607638  596801.0          FALIM 5`LI SAKIZ NANELI
607784  598134.0  BIGBABOL SEKERLI SAKIZ MUZ 23GR
608057  514266.0          CAM SAKIZI 270 GR. PVC.
608058  514267.0          CAM SAKIZI 270 GR. PVC.
608353  509746.0          CAM SAKIZI 270 GR. PVC.

[2886 rows x 2 columns]

22. Her şube için toplam satış sayısını bul

In [37]:
data_copy.groupby('BRANCH').count()

,ID,ITEMCODE,ITEMNAME,FICHENO,DATE_,AMOUNT,PRICE,LINENETTOTAL,LINENET,BRANCHNR,SALESMAN,CITY,REGION,LATITUDE,LONGITUDE,CLIENTCODE,CLIENTNAME,BRANDCODE,BRAND,CATEGORY_NAME1,CATEGORY_NAME2,CATEGORY_NAME3,STARTDATE,ENDDATE,GENDER
BRANCH,,,,,,,,,,,,,,,,,,,,,,,,,
Adana Subesi,15862,15689,15689,15862,15862,15862,15862,15862,15862,15862,15862,15862,15862,15862,15862,15471,15471,14934,14934,15689,15159,10383,15862,15862,15471
Adıyaman Subesi,4558,4502,4502,4558,4558,4558,4558,4558,4558,4558,4558,4558,4558,4558,4558,4350,4350,4296,4296,4502,4355,3013,4558,4558,4350
Afyonkarahisar Subesi,5102,5038,5038,5102,5102,5102,5102,5102,5102,5102,5102,5102,5102,5102,5102,4939,4939,4807,4807,5038,4880,3360,5102,5102,4939
Aksaray Subesi,3164,3135,3135,3164,3164,3164,3164,3164,3164,3164,3164,3164,3164,3164,3164,3117,3117,2992,2992,3135,3018,2048,3164,3164,3117
Amasya Subesi,2700,2677,2677,2700,2700,2700,2700,2700,2700,2700,2700,2700,2700,2700,2700,2614,2614,2551,2551,2677,2564,1756,2700,2700,2614
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Çorum Subesi,4227,4172,4172,4227,4227,4227,4227,4227,4227,4227,4227,4227,4227,4227,4227,4065,4065,3983,3983,4172,4025,2727,4227,4227,4065
İstanbul Subesi,113622,112332,112332,113622,113622,113622,113622,113622,113622,113622,113622,113622,113622,113622,113622,109889,109889,107067,107067,112332,108552,74593,113622,113622,109889
İzmir Subesi,32328,31946,31946,32328,32328,32328,32328,32328,32328,32328,32328,32328,32328,32328,32328,31293,31293,30473,30473,31946,30802,21334,32328,32328,31293
Şanlıurfa Subesi,14824,14627,14627,14824,14824,14824,14824,14824,14824,14824,14824,14824,14824,14824,14824,14288,14288,13935,13935,14627,14181,9746,14824,14824,14288
Şırnak Subesi,3750,3697,3697,3750,3750,3750,3750,3750,3750,3750,3750,3750,3750,3750,3750,3596,3596,3520,3520,3697,3569,2440,3750,3750,3596

23. Her şube için ortalama price'ı bul

In [39]:
data_copy.groupby('BRANCH')['PRICE'].mean()

BRANCH
Adana Subesi             4.028204
Adıyaman Subesi          3.934333
Afyonkarahisar Subesi    3.877879
Aksaray Subesi           3.847016
Amasya Subesi            3.996141
                           ...
Çorum Subesi             3.858055
İstanbul Subesi          3.953789
İzmir Subesi             4.000956
Şanlıurfa Subesi         3.835479
Şırnak Subesi            4.117560
Name: PRICE, Length: 81, dtype: float64

24. Her şehir için toplam LINENETTOTAL

In [40]:
data_copy.groupby('CITY')['LINENETTOTAL'].sum()

CITY
Adana              64993.74
Adıyaman           18208.65
Afyonkarahisar     19728.00
Aksaray            12345.77
Amasya             11235.14
                    ...
Çorum              16635.79
İstanbul          458500.33
İzmir             131814.45
Şanlıurfa          58235.57
Şırnak             16758.56
Name: LINENETTOTAL, Length: 81, dtype: float64

25. Her REGION için min max ortalama price

In [43]:
data_copy.groupby('REGION')['PRICE'].agg(['min','max','mean'])

                    min     max      mean
REGION
Akdeniz            0.01   101.0  3.980653
Doğu Anadolu       0.01    74.5  3.939222
Ege                0.01    79.0  3.964550
Güneydoğu Anadolu  0.01  1799.0  3.994098
Karadeniz          0.01    79.0  3.885159
Marmara            0.01  1078.0  3.931005
İç Anadolu         0.01  1304.0  4.029602

26. PRICE'a göre azalan sıralama

In [45]:
data_copy.sort_values('PRICE',ascending=True)

,ID,ITEMCODE,ITEMNAME,FICHENO,DATE_,AMOUNT,PRICE,LINENETTOTAL,LINENET,BRANCHNR,BRANCH,SALESMAN,CITY,REGION,LATITUDE,LONGITUDE,CLIENTCODE,CLIENTNAME,BRANDCODE,BRAND,CATEGORY_NAME1,CATEGORY_NAME2,CATEGORY_NAME3,STARTDATE,ENDDATE,GENDER
355330,262216.0,NaN,NaN,76845,2017-02-11,1.0,0.01,0.01,0.01,24.0,Çorum Subesi,Hasan Hüseyin EKTİREN,Çorum,Karadeniz,40.5506,34.9556,803399,Esra ÖZBİLGE,NaN,NaN,NaN,NaN,NaN,2017-02-12 13:27:22,2017-02-12 13:28:23,K
1002,576.0,5362.0,SİHİRLİ ELLER CİG KÖFTE 200GR,15745,2017-01-02,1.0,0.01,0.01,0.01,7.0,Ankara Subesi,Ayhan ÇERİT,Ankara,İç Anadolu,39.9208,32.8541,364974,Alparslan TUTGUN,346,SİHİRLİ ELLER,GIDA,HAZIR YEMEKLER,MEZE,2017-01-03 17:31:12,2017-01-03 17:33:18,E
256453,368305.0,5362.0,SİHİRLİ ELLER CİG KÖFTE 200GR,101736,2017-02-26,1.0,0.01,0.01,0.01,32.0,Eskişehir Subesi,Gülseren CÜRÜTTÜ,Eskişehir,İç Anadolu,39.7767,30.5206,249827,Taha TANYOLAÇ,346,SİHİRLİ ELLER,GIDA,HAZIR YEMEKLER,MEZE,2017-02-27 11:15:41,2017-02-27 11:17:21,E
1875,531.0,5362.0,SİHİRLİ ELLER CİG KÖFTE 200GR,15733,2017-01-02,1.0,0.01,0.01,0.01,55.0,Malatya Subesi,Zehra BICAKÇI,Malatya,Doğu Anadolu,38.3552,38.3095,982171,Emircan TOPAKKAYA,346,SİHİRLİ ELLER,GIDA,HAZIR YEMEKLER,MEZE,2017-01-03 17:12:00,2017-01-03 17:12:28,E
355359,262217.0,NaN,NaN,76845,2017-02-11,1.0,0.01,0.01,0.01,24.0,Çorum Subesi,Hasan Hüseyin EKTİREN,Çorum,Karadeniz,40.5506,34.9556,803399,Esra ÖZBİLGE,NaN,NaN,NaN,NaN,NaN,2017-02-12 13:27:22,2017-02-12 13:28:23,K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121184,30923.0,NaN,NaN,23212,2017-01-10,1.0,1304.00,1304.00,1207.41,7.0,Ankara Subesi,Meliha AKTEKE,Ankara,İç Anadolu,39.9208,32.8541,933,Ali CENGİARSLAN,NaN,NaN,NaN,NaN,NaN,2017-01-11 21:24:29,2017-01-11 21:30:13,E
121185,30924.0,NaN,NaN,23212,2017-01-10,1.0,1304.00,1304.00,1207.41,7.0,Ankara Subesi,Meliha AKTEKE,Ankara,İç Anadolu,39.9208,32.8541,933,Ali CENGİARSLAN,NaN,NaN,NaN,NaN,NaN,2017-01-11 21:24:29,2017-01-11 21:30:13,E
105719,155990.0,5362.0,SİHİRLİ ELLER CİG KÖFTE 200GR,52800,2017-01-27,1.0,1799.00,1799.00,1665.74,26.0,Diyarbakır Subesi,Fatmanur TOLU,Diyarbakır,Güneydoğu Anadolu,37.9144,40.2306,NaN,NaN,346,SİHİRLİ ELLER,GIDA,HAZIR YEMEKLER,MEZE,2017-01-28 17:06:42,2017-01-28 17:07:36,NaN
105718,155989.0,5362.0,SİHİRLİ ELLER CİG KÖFTE 200GR,52800,2017-01-27,1.0,1799.00,1799.00,1665.74,26.0,Diyarbakır Subesi,Fatmanur TOLU,Diyarbakır,Güneydoğu Anadolu,37.9144,40.2306,NaN,NaN,346,SİHİRLİ ELLER,GIDA,HAZIR YEMEKLER,MEZE,2017-01-28 17:06:42,2017-01-28 17:07:36,NaN
3044,NaN,NaN,NaN,586470,NaT,NaN,NaN,NaN,NaN,NaN,NaN,İsmet SARTIK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-11-15 19:12:30,2017-11-15 19:13:38,NaN

27. En pahalı 10 satır

In [46]:
data_copy.nlargest(10,'PRICE')

,ID,ITEMCODE,ITEMNAME,FICHENO,DATE_,AMOUNT,PRICE,LINENETTOTAL,LINENET,BRANCHNR,BRANCH,SALESMAN,CITY,REGION,LATITUDE,LONGITUDE,CLIENTCODE,CLIENTNAME,BRANDCODE,BRAND,CATEGORY_NAME1,CATEGORY_NAME2,CATEGORY_NAME3,STARTDATE,ENDDATE,GENDER
105718,155989.0,5362.0,SİHİRLİ ELLER CİG KÖFTE 200GR,52800,2017-01-27,1.0,1799.0,1799.0,1665.74,26.0,Diyarbakır Subesi,Fatmanur TOLU,Diyarbakır,Güneydoğu Anadolu,37.9144,40.2306,NaN,NaN,346,SİHİRLİ ELLER,GIDA,HAZIR YEMEKLER,MEZE,2017-01-28 17:06:42,2017-01-28 17:07:36,NaN
105719,155990.0,5362.0,SİHİRLİ ELLER CİG KÖFTE 200GR,52800,2017-01-27,1.0,1799.0,1799.0,1665.74,26.0,Diyarbakır Subesi,Fatmanur TOLU,Diyarbakır,Güneydoğu Anadolu,37.9144,40.2306,NaN,NaN,346,SİHİRLİ ELLER,GIDA,HAZIR YEMEKLER,MEZE,2017-01-28 17:06:42,2017-01-28 17:07:36,NaN
121184,30923.0,NaN,NaN,23212,2017-01-10,1.0,1304.0,1304.0,1207.41,7.0,Ankara Subesi,Meliha AKTEKE,Ankara,İç Anadolu,39.9208,32.8541,933,Ali CENGİARSLAN,NaN,NaN,NaN,NaN,NaN,2017-01-11 21:24:29,2017-01-11 21:30:13,E
121185,30924.0,NaN,NaN,23212,2017-01-10,1.0,1304.0,1304.0,1207.41,7.0,Ankara Subesi,Meliha AKTEKE,Ankara,İç Anadolu,39.9208,32.8541,933,Ali CENGİARSLAN,NaN,NaN,NaN,NaN,NaN,2017-01-11 21:24:29,2017-01-11 21:30:13,E
265236,395868.0,5362.0,SİHİRLİ ELLER CİG KÖFTE 200GR,107960,2017-03-02,1.0,1078.0,1078.0,998.14,40.0,İstanbul Subesi,Yunus Emre AVUZ,İstanbul,Marmara,41.0053,28.9770,237685,Atakan OLGUN,346,SİHİRLİ ELLER,GIDA,HAZIR YEMEKLER,MEZE,2017-03-03 10:27:08,2017-03-03 10:27:45,E
265237,395869.0,5362.0,SİHİRLİ ELLER CİG KÖFTE 200GR,107960,2017-03-02,1.0,1078.0,1078.0,998.15,40.0,İstanbul Subesi,Yunus Emre AVUZ,İstanbul,Marmara,41.0053,28.9770,237685,Atakan OLGUN,346,SİHİRLİ ELLER,GIDA,HAZIR YEMEKLER,MEZE,2017-03-03 10:27:08,2017-03-03 10:27:45,E
49895,47938.0,5362.0,SİHİRLİ ELLER CİG KÖFTE 200GR,26972,2017-01-12,1.0,375.0,375.0,347.22,26.0,Diyarbakır Subesi,Fatmanur TOLU,Diyarbakır,Güneydoğu Anadolu,37.9144,40.2306,9227,Haydar ELLİALTI,346,SİHİRLİ ELLER,GIDA,HAZIR YEMEKLER,MEZE,2017-01-13 14:33:48,2017-01-13 14:34:10,E
49896,47939.0,5362.0,SİHİRLİ ELLER CİG KÖFTE 200GR,26972,2017-01-12,1.0,375.0,375.0,347.22,26.0,Diyarbakır Subesi,Fatmanur TOLU,Diyarbakır,Güneydoğu Anadolu,37.9144,40.2306,9227,Haydar ELLİALTI,346,SİHİRLİ ELLER,GIDA,HAZIR YEMEKLER,MEZE,2017-01-13 14:33:48,2017-01-13 14:34:10,E
580634,512736.0,NaN,NaN,134813,2017-03-18,1.0,269.0,269.0,249.07,40.0,İstanbul Subesi,Dilan TEMİÇİN,İstanbul,Marmara,41.0053,28.9770,880161,Rumeysa KÖSEN,NaN,NaN,NaN,NaN,NaN,2017-03-19 10:18:00,2017-03-19 10:18:39,K
580635,512737.0,NaN,NaN,134813,2017-03-18,1.0,269.0,269.0,249.07,40.0,İstanbul Subesi,Dilan TEMİÇİN,İstanbul,Marmara,41.0053,28.9770,880161,Rumeysa KÖSEN,NaN,NaN,NaN,NaN,NaN,2017-03-19 10:18:00,2017-03-19 10:18:39,K

28. City ve PRice'a göre sıralama

In [52]:
data_copy.sort_values(['CITY','PRICE'],ascending=[True,False])

,ID,ITEMCODE,ITEMNAME,FICHENO,DATE_,AMOUNT,PRICE,LINENETTOTAL,LINENET,BRANCHNR,BRANCH,SALESMAN,CITY,REGION,LATITUDE,LONGITUDE,CLIENTCODE,CLIENTNAME,BRANDCODE,BRAND,CATEGORY_NAME1,CATEGORY_NAME2,CATEGORY_NAME3,STARTDATE,ENDDATE,GENDER
358270,427331.0,5362.0,SİHİRLİ ELLER CİG KÖFTE 200GR,115645,2017-03-06,1.000,101.0,101.00,93.52,1.0,Adana Subesi,Mahir BİLEKÇİ,Adana,Akdeniz,37.0000,35.3213,961572,Fatih EKİCİLER,346,SİHİRLİ ELLER,GIDA,HAZIR YEMEKLER,MEZE,2017-03-07 09:48:14,2017-03-07 09:48:38,E
274007,473926.0,9099.0,ANTRIKOT PASTIRMA KG,126037,2017-03-13,0.196,55.9,10.96,10.15,1.0,Adana Subesi,Mira BİRKİN,Adana,Akdeniz,37.0000,35.3213,462023,Esma DURMAN,NaN,NaN,ET TAVUK,ET ŞARKÜTERİ,PASTIRMA,2017-03-14 15:45:15,2017-03-14 15:46:00,K
380727,480868.0,9099.0,ANTRIKOT PASTIRMA KG,127701,2017-03-14,0.178,55.9,9.95,9.21,1.0,Adana Subesi,Meral DUDULAROĞLU,Adana,Akdeniz,37.0000,35.3213,1089809,Gönül TÜTÜNCÜ,NaN,NaN,ET TAVUK,ET ŞARKÜTERİ,PASTIRMA,2017-03-15 18:33:27,2017-03-15 18:36:02,K
324011,422097.0,21702.0,MEHTAP SERDENA 28 CM SERAMIK,114428,2017-03-06,1.000,54.9,54.90,46.53,1.0,Adana Subesi,Taha DURANSOY,Adana,Akdeniz,37.0000,35.3213,659006,Ömer AĞRAS,91,MEHTAP,EV,MUTFAK EŞYA GEREÇLERİ,METAL EL ALETLERİ,2017-03-07 21:00:19,2017-03-07 21:01:16,E
68673,125543.0,2173.0,MILUPA APTAMIL 3 1200 GR DEVAM SUTU,45600,2017-01-23,1.000,48.5,48.50,44.91,1.0,Adana Subesi,Mira BİRKİN,Adana,Akdeniz,37.0000,35.3213,263381,Ali Eymen SERDAR,239,MİLUPA,BEBEK,HAZIR YEMEK MAMA,NaN,2017-01-24 16:51:12,2017-01-24 16:52:24,E
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
447747,393667.0,6980.0,ETI PUF 18 GR.RENKLI,107512,2017-03-02,6.000,0.2,1.20,1.11,72.0,Şırnak Subesi,Nazlıcan ŞENKARDEŞLER,Şırnak,Güneydoğu Anadolu,37.4187,42.4918,298561,Kamil YAGIZ,44,ETİ,GIDA,BÜSKİVİ ÇEREZ,BÜSKİVİ,2017-03-03 21:03:59,2017-03-03 21:04:36,E
447863,393668.0,7049.0,ETI PUF KAKAOLU 18 GR.,107512,2017-03-02,6.000,0.2,1.20,1.11,72.0,Şırnak Subesi,Nazlıcan ŞENKARDEŞLER,Şırnak,Güneydoğu Anadolu,37.4187,42.4918,298561,Kamil YAGIZ,44,ETİ,GIDA,BÜSKİVİ ÇEREZ,BÜSKİVİ,2017-03-03 21:03:59,2017-03-03 21:04:36,E
452842,334239.0,7049.0,ETI PUF KAKAOLU 18 GR.,93423,2017-02-22,6.000,0.2,1.20,1.11,72.0,Şırnak Subesi,Egemen ÖZÇALIK,Şırnak,Güneydoğu Anadolu,37.4187,42.4918,650750,Sude naz ÇAKIRLI,44,ETİ,GIDA,BÜSKİVİ ÇEREZ,BÜSKİVİ,2017-02-23 19:18:54,2017-02-23 19:20:08,K
535860,527549.0,12865.0,TENO MENDIL TEKLI,138468,2017-03-20,1.000,0.2,0.20,0.17,72.0,Şırnak Subesi,Aysima GENİŞLİ,Şırnak,Güneydoğu Anadolu,37.4187,42.4918,25797,Ömer Faruk İYİKAN,228,TENO,KAĞIT,KAĞIT MENDİLLER,NaN,2017-03-21 13:51:13,2017-03-21 13:51:23,E
3044,NaN,NaN,NaN,586470,NaT,NaN,NaN,NaN,NaN,NaN,NaN,İsmet SARTIK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-11-15 19:12:30,2017-11-15 19:13:38,NaN

29. Price sütunu istatistikleri

In [53]:
data_copy['PRICE'].describe()

count    611107.000000
mean          3.959574
std           6.683096
min           0.010000
25%           1.000000
50%           2.300000
75%           4.650000
max        1799.000000
Name: PRICE, dtype: float64

30. Her ITEMNAME için satış adedi

In [54]:
data_copy['ITEMNAME'].value_counts()

ITEMNAME
EKMEK 250 GR                                9122
DOMATES                                     6018
PATATES                                     5718
PORTAKAL                                    5611
TOZ SEKER                                   5242
                                            ...
WELLA SAC BOYASI KIT 20 ROFLE SETI             1
PANTENE ISIYA KARSI KORUYUCU SERUM 150ML       1
NIVEA VISAGE GOZ MAKYAJ TEMZ.125ML             1
HOBBY FOR MEN TRAS KOPUGU 200ML COOL           1
YAREN ARTCRAFT ZEN CAY TAKIMI RENKLI           1
Name: count, Length: 9303, dtype: int64

31. GENDER dağılımı yüzdesel olarak gösterme

In [60]:
data_copy['GENDER'].value_counts(normalize=True)*100

GENDER
K    52.617408
E    47.382592
Name: proportion, dtype: float64